/* * {
    font-family: 'Roboto', sans-serif;
} */

/* .minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}


.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
} */


.connNode{
    r: 8;
    fill: rgb(274,194,68);
    stroke: black;
    stroke-width: 2;
}

.frame{
    stroke: rgb(44,123,246);
    stroke-width: 5;
}

circle.mouseover{
    r: 15;
}

text.max{
    fill: #E71818;
}

text.saddle{
    fill: #13B913;
    /* stroke: black; */
    /* stroke-width: 3; */
}

text.min{
    fill: rgb(44,123,246);
}

.track {
    stroke-linecap: round;
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 8px;
}

.handle {
    opacity:1;
}

.showbar {
    stroke-linecap: round;
    stroke-opacity: 0.8;
    stroke-width: 8px;
}

line.max{
    stroke: #E71818;
}

line.saddle{
    stroke: #13B913;
}

line.min{
    stroke: rgb(44,123,246);
}

circle.max{
    fill: #E71818;
}

circle.saddle{
    fill: #13B913;
}

circle.min{
    fill:rgb(44,123,246);
}

text.values{
    font-weight: bold;
    font-size:18px;
}

text.label{
    font-size:18px;
}

