* {
    font-family: 'Roboto', sans-serif;
}

.minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
}

.connNode{
    r: 8;
    fill: grey;
    stroke: yellow;
    stroke-width: 4;
}

.frame{
    /* stroke: #1E90FF; */
    /* stroke: rgb(44,123,246); */
    stroke: #2472DD;
    stroke-width: 20;
}

.mouseover{
    r: 10;
}

circle.max{
    /* fill: rgb(234,85,41); */
    fill: #E71818;
    stroke: white;
    stroke-width: 3;
}

circle.saddle{
    /* fill: rgb(82,163,80); */
    fill: #13B913;
    stroke: white;
    stroke-width: 3;
}

circle.min{
    fill: #2472DD;
    stroke: white;
    stroke-width: 3;
}