/* * {
    font-family: 'Roboto', sans-serif;
} */

/* @font-face {
    font-family:'FontAwesome';
    src:url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
    font-weight:normal;
    font-style:normal
  } */

/* .minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}


.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
} */

/* @font-face {
    font-family: 'font1';
    src: url('assets/bullseye-solid.svg');
} */


.connNode{
    r: 8;
    fill: rgb(274,194,68);
    stroke: black;
    stroke-width: 2;
}

.frame{
    stroke: rgb(44,123,246);
    stroke-width: 5;
}

.mouseover{
    r: 10;
}

text.max{
    fill: #E71818;
}

text.saddle{
    fill: #13B913;
    /* stroke: black; */
    /* stroke-width: 3; */
}

text.min{
    fill: rgb(44,123,246);
}

.track {
    stroke-linecap: round;
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

