/* * {
    font-family: 'Roboto', sans-serif;
} */

/* @font-face {
    font-family:'FontAwesome';
    src:url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
    font-weight:normal;
    font-style:normal
  } */

/* .minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}


.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
} */

/* @font-face {
    font-family: 'font1';
    src: url('assets/bullseye-solid.svg');
} */


.connNode{
    r: 8;
    fill: grey;
    stroke: yellow;
    stroke-width: 4;
}

.frame{
    /* stroke: #1E90FF; */
    /* stroke: rgb(44,123,246); */
    stroke: #2472DD;
    stroke-width: 20;
}

.mouseover{
    r: 10;
}

circle.max{
    /* fill: rgb(234,85,41); */
    fill: #E71818;
    stroke: black;
    stroke-width: 3;
}

circle.saddle{
    /* fill: rgb(82,163,80); */
    fill: #13B913;
    stroke: black;
    stroke-width: 3;
}

circle.min{
    fill: #2472DD;
    stroke: black;
    stroke-width: 3;
}

/* svg text .criticalpoint{
    font-family: "Font Awesome 5 Free";
     text: "\f066";
} */
