/* html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, svg, canvas {
    margin: 0;
    padding: 0;
    border: 0;
    font: 1em mplus-2p-light-sub,Helvetica,arial,freesans,clean,sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
} */

.minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}

.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
}

.connNode{
    r: 6;
    fill: grey;
    stroke: yellow;
    stroke-width: 2;
}

.frame{
    stroke: #1E90FF;
    stroke-width: 12;
}

.mouseover{
    r: 10;
}