* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #container {
    display: flex;
    height:100%;
}
 .header_group {
    display: flex;
    flex: 0 0 64px;
    justify-content: right;
    flex-direction: row;
    /* position: relative; */
    /* width:auto; */
    /* overflow: scroll; */
    /* overflow-x: scroll; */
/* } */

.minedge{
    /* stroke: black; */
    stroke-width: 3px;
    fill: none;
    opacity: 0.6;
}


.maxedge{
    /* stroke: black; */
    stroke-width: 3px;
    stroke-dasharray: 5,5; 
    fill: none;
    opacity: 0.6;
}

.edgeactive {
    stroke-width: 5px;
}


html, body {
    margin: 0;
    padding: 0;
}

/* .main-container {
    background-color: rgb(249,249,249);
    border: 1px solid rgb(224,224,224);

} */

.mode_label{
    font-size:10px;
}


h2 {
    color:rgb(241,241,241);
    font-size:15px;
    text-align:center;
}

h4 {
    font-size:12px;
    text-align:left;
}

#main_title {
    width:20%;
    margin:0px;
    border:0px;
    background-color: rgb(51,54,57);
    padding-top: 6px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    display:inline-block;
}

#files_group {
    background-color: #FFF;
    display:inline-block;
    padding-left: 10px;
}

.content-main {
    padding-top: 10px;
    padding-left: 60px;
    background-color: #FFF;
    position: relative;
    width: 100%;
    height: 590px;
    border-radius: 5px;
  }

.content-sub {
    /* padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px; */
    padding:15px;
  }


.connNode {
    r: 6;
    fill: rgb(274,194,68);
    stroke: dimgray;
    stroke-width: 1px;
}

.connNode.active{
    r: 8px;
}

.terminalNode {
    r: 3px;
    fill: grey;
    stroke: dimgray;
}

.terminalNode.active{
    r: 5;
}

.step_frame {
    stroke: rgb(0,43,235);
    fill: none;
}

.frame{
    /* stroke: rgb(44,123,246); */
    /* stroke: rgb(170,209,245); */
    stroke: rgb(0,43,235);
    stroke-width: 3px;
}

text.max{
    fill: rgb(232, 53, 33);
    /* fill: rgb(250, 141, 135); */
    opacity: 1;
    /* font-weight:bold; */
}

text.saddle{
    fill: rgb(71, 142, 33);
    /* fill: rgb(135, 215, 126); */
}

text.min{
    /* fill: rgb(170,209,245); */
    fill: rgb(0,43,235);
}

text.active{
    font-size:32px;
}

.track {
    stroke-linecap: round;
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 3px;
}

.handle {
    opacity:1;
}

.showbar {
    stroke-linecap: round;
    stroke-opacity: 0.8;
    stroke-width: 3px;
}

line.max{
    stroke: rgb(250, 141, 135);
}

line.saddle{
    stroke: rgb(135, 215, 126);
}

line.min{
    stroke: rgb(170,209,245);
}

circle.max{
    fill: rgb(250, 141, 135);
}

circle.saddle{
    fill: rgb(135, 215, 126);
}

circle.min{
    fill:rgb(170,209,245);
}

text.values{
    font-weight: bold;
    font-size:9px;
}

text.label{
    font-size:11px;
    font-weight: bold;
}


.phactive{
    fill: rgb(212,58,129);
}

.phactive_edge{
    stroke-width:10px;
}

/* rect.barcode{
    fill: rgb(110,123,196);
} */

/* 
path.actived {
    stroke-width: 10;
} */


div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow-y: scroll;
    /* -webkit-overflow-scrolling: touch; */
}

/* Loader */

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid rgb(44,123,246); /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* Radion */

  .form-radio
  {
       -webkit-appearance: none;
       -moz-appearance: none;
       appearance: none;
       display: inline-block;
       position: relative;
       background-color: #f1f1f1;
       color: rgb(51,54,57);
       top: 7px;
       height: 20px;
       width: 20px;
       border: 1px solid rgb(51,54,57);
       border-radius: 25px;
       cursor: pointer;     
       margin-right: 3px;
       outline: none;
  }
  .form-radio:checked::before
  {
       position: absolute;
       font: 12px/1 'Open Sans', sans-serif;
       left: 5px;
       top: 1px;
       content: '\02143';
       transform: rotate(40deg);
  }
  .form-radio:hover
  {
    background-color: #f7f7f7;
  }
  .form-radio:checked
  {
    background-color: #f1f1f1;
  }

  /* import/ export*/
  .import-group {
    display: inline-block;
    /* width: 10%; */
    padding-right: 10px;
    padding-left:15px;
    padding-bottom: 6px;
    padding-top:0px;vertical-align: top;
  }

  .export-group{
    display: inline-block;
    /* width: 25%; */
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top:0px;vertical-align: top;
  }

  #import, #export, #exFilename {
    font-size: 10px;
    height: 20px;
    line-height: 4px;
    color: rgb(110,123,196);
    border: 1px solid rgb(110,123,196);
  }

  #export  {
    display: inline-block;
    width: 52%;
    text-align: center;
  }

  #exFilename{
    display: inline-block;
    width: 40%;
    text-align: center;
}

  hr {
      margin-top:0;
      margin-bottom:0;
      margin-right: 10px;
  }

  /* Buttons */
#cancelmove {
    /* width: 88%; */
    height: 40%;
    font-size: 10px;
    line-height: 4px;
    color:rgb(110,123,196);
    border: 1px solid rgb(110,123,196);
}

.move-button {
      width: 30%;
      height: 40%;
      font-size: 10px;
  }

.small-label {
    padding-left:2px;
    font-size: 8px;
    text-align:center;
  }

  .move-button-group {
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
    height:14%;
    position: relative;
  }

  img {
      padding-left: 5%;
      height: 80%;
      width: 67%;
  }

  .control-button-group {
      padding-right:10px;
      padding-top:1px;
      padding-bottom:2px;
      width: 100%;
      height: 25%;
  }

  .control-button {
    width: 100%;
    height: 90%;
    font-size: 10px;
    line-height: 4px;
    color:rgb(110,123,196);
    border: 1px solid rgb(110,123,196);
}

#undo-group, #redo-group {
    display: inline-block;
    padding-top:2px;
    width: 45%;
    height: 50px;
}

#undobutton, #redobutton {
    width: 88%;
    height: 50%;
    font-size: 10px;
    line-height: 4px;
    color:rgb(110,123,196);
    border: 1px solid rgb(110,123,196);
}

.barcode-button {
    font-size:8px;
    height:18px;
    line-height: 4px;
    color:rgb(110,123,196);
    border: 1px solid rgb(110,123,196);
}

#reset {
    height: 20px;
    font-size: 12px;
    line-height: 4px;
    background-color:rgb(110,123,196);
    border: none;    
}

/* Toggle */
.control-container {
    /* width: 100%; */
    height: 35px;
    background-color: rgb(249,249,249);
    padding-left: 20px;
    border-top: 1px solid rgb(224,224,224);
    margin:0;
}

.control-group {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
}

.toggle-group {
    padding-right:10px;
    padding-top:3px;
    /* height: 25%; */
}

.toggle-label {
    display: inline-block;
    position:relative;
    padding-right:5px;
    font-size:12px;
    text-align: left;
    vertical-align: top;
    padding-top:6px;
}

.onoffswitch {
    display: inline-block;
    /* width:40%; */
    height:100%;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    padding-top:5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 34px; width: 50px; height:20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 22px;
    font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: rgb(110,123,196); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 6px;
    background-color: #ccc; color: rgb(58, 58, 58);
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 14px; height: 14px; margin: 2.5px;
    background: #FFFFFF;
    position: relative; top: 0; bottom: 0;
    right: -1px;
    border-radius: 34px;
    transition: all 0.3s ease-in 0s; 
    /* z-index:999; */
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: -30px; 
}
