/* * {
    font-family: 'Roboto', sans-serif;
} */

/* .minedge{
    stroke: white;
    stroke-width: 2;
    fill: none;
}


.maxedge{
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 5,5; 
    fill: none;
} */


.connNode{
    r: 8;
    fill: rgb(274,194,68);
    stroke: black;
    stroke-width: 2;
}

.frame{
    stroke: rgb(44,123,246);
    stroke-width: 5;
}

circle.mouseover{
    r: 15;
}

text.max{
    fill: #E71818;
}

text.saddle{
    fill: #13B913;
    /* stroke: black; */
    /* stroke-width: 3; */
}

text.min{
    fill: rgb(44,123,246);
}

.track {
    stroke-linecap: round;
    stroke: #000;
    stroke-opacity: 0.2;
    stroke-width: 8px;
}

.handle {
    opacity:1;
}

.showbar {
    stroke-linecap: round;
    stroke-opacity: 0.8;
    stroke-width: 8px;
}

line.max{
    stroke: #E71818;
}

line.saddle{
    stroke: #13B913;
}

line.min{
    stroke: rgb(44,123,246);
}

circle.max{
    fill: #E71818;
}

circle.saddle{
    fill: #13B913;
}

circle.min{
    fill:rgb(44,123,246);
}

text.values{
    font-weight: bold;
    font-size:18px;
}

text.label{
    font-size:18px;
}

.phactive{
    fill: rgb(212,58,129);
}


div.scrollable {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    overflow-y: scroll;
    /* -webkit-overflow-scrolling: touch; */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(44,123,246); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* 
path.actived {
    stroke-width: 10;
} */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    font-size:25px;
    /* font-weight:bold; */
    display: inline-block;
    color: "black";
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 20px;
    height: 20px;
    background: #F87DA9;
    position: absolute;
    top: 6px;
    left: 5.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}