<!DOCTYPE html>
<html>
  <head>
    <title>VIS-MSVF</title>
    <!-- <meta name="viewport" content="width=device-width"> -->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer async></script>
    {% endassets %}
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body>
    <div class="header_group">
        <div id="main_title">
            <h2>Visualization For Morse Vector Fields Design</h2>
        </div>
        <div id="mode">
            <div style="padding-left:15px; padding-right:10px; display:inline-block">
                <input type="radio" class="form-radio" name="mode-type" value="manual" id="mode1">
                <label for="mode1" class="mode_label">Manual Mode</label>
            </div>
            <div style="padding-left:15px; padding-right:10px; display:inline-block">
                <input type="radio" class="form-radio" name="mode-type" value="semi-automatic" id="mode2" checked="checked">
                <label for="mode2" class="mode_label">Semi-automatic Mode</label>
            </div>   
        </div>
    </div>
    
    
    <div class="control-container">
        <div class="control-group" style="width:12%">
            <div class="toggle-group">
                <div class="toggle-label"> Skeleton </div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="ifskeleton" checked>
                    <label class="onoffswitch-label" for="ifskeleton">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group" style="width:16%">
            <div class="toggle-group">
                <div class="toggle-label"> Flow Visualization </div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="ifvf">
                    <label class="onoffswitch-label" for="ifvf">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group" style="width:12%">
            <div class="toggle-group">
                <div class="toggle-label"> Animation </div>
                <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="ifflow">
                    <label class="onoffswitch-label" for="ifflow">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="control-group" style="vertical-align: top; padding-top:4px;"> 
            <input type="button" id="reset" class="btn btn-primary"  value="Reset">
        </div>     
        <div class="import-group">
            <form method="post" id="upload" enctype="multipart/form-data" action="" >
                <input type="file" style="display:none" id="files" name="files">
                <input type="button" class="btn btn-outline-primary" id="import" value="Import A Configuration">
            </form>
        </div>
        <div class="export-group">
            <input class="form-control" type="text" placeholder="Input file name" id="exFilename">
            <input style="position: relative; top:0px" type="button" class="btn btn-outline-primary" id="export" value="Export Current Configuration">
        </div>
    </div>


    <div class="container-fluid" style="background-color: rgb(249,249,249);border: 1px solid rgb(224,224,224);">
        <div class="row">
            <div style="padding:0; width: 70%;">
                <div class="row" style="margin:0;padding:0; width:100%; border-right: 1px solid rgb(224,224,224)">
                    <div style="padding:0px; width:70%">
                        <div class="content-main" id="content_main_drawing">
                            <canvas id="animation" style="position: absolute;" width="570px" height="570px" ></canvas>
                            <svg id="annotation" style="position: absolute; z-index:1;" width="570px" height="570px"></svg>
                        </div> 
                    </div>
                    <div style="padding:0; border-left: 1px solid rgb(224,224,224); width:30%">
                        <div class="content-sub" style="height:590px">
                            <h4>Elementary Moves</h4>
                            <div class="move-button-group">                    
                                <input type="button" id="amoveplus" class = "btn-sm btn-danger move-button"  value="Face-Max" style="background-color:rgb(249, 167, 167); border: none; color: rgb(58,58,58);">
                                <img src="../static/assets/move_img/fa.png">
                            </div>
                            <div class="move-button-group">
                                <input type="button" id="amoveminus" class = "btn-sm btn-danger move-button" value="Face-Min" style="background-color:rgb(249, 167, 167); border: none; color: rgb(58,58,58);">
                                <img src="../static/assets/move_img/fb.png">
                            </div>
                            <div class="move-button-group">
                                <input type="button" id="bmoveplus" class = "btn-sm btn-warning move-button" value="Edge-Max" style="background-color:rgb(170,209,245); border: none;color: rgb(58,58,58); ">
                                <img src="../static/assets/move_img/ea.png">
                            </div>
                            <div class="move-button-group">
                                <input type="button" id="bmoveminus" class = "btn-sm btn-warning move-button" value="Edge-Min" style="background-color:rgb(170,209,245); border: none;color: rgb(58,58,58);">
                                <img src="../static/assets/move_img/eb.png">
                            </div>
                            <div class="move-button-group">
                                <input type="button" id="dmoveplus" class = "btn-sm btn-info move-button" value="Vertex-Max" style="background-color:rgb(155, 225, 147); border: none; color: rgb(58,58,58);">
                                <img src="../static/assets/move_img/va.png">
                            </div>
                            <div class="move-button-group">
                                <input type="button" id="dmoveminus" class = "btn-sm btn-info move-button" value="Vertex-Min" style="background-color:rgb(155, 225, 147); border: none; color: rgb(58,58,58);">
                                <img src="../static/assets/move_img/vb.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:0;padding:0;border-top: 1px solid rgb(224,224,224);border-right: 1px solid rgb(224,224,224); width:100%">
                        <div class="col-md-12" style="padding-right:5px;">
                            <div class="content-sub" style="height:100px;padding-top: 5px; ">
                                <div class="scrollable" style="height: 100px;">
                                    <div style="display:inline-block; width:12%; vertical-align:middle; padding-top:6px;">
                                        <h4>Barcode</h4>
                                    </div>
                                    <div style="display:inline-block; width:65%; padding-bottom:5px;">
                                            <input type="button" class="btn btn-outline-primary barcode-button" id="computeBarcode" value="Compute Barcode">
                                            <input type="button" class="btn btn-outline-primary barcode-button" id="simplifyBarcode" value="Simplification">
                                            <!-- <input type="button" id="cpdetection" class="btn btn-outline-primary barcode-button"  value="Singularities Detection"> -->
                                    </div>
                                    
                                    <div id="persistencegroup">
                                        <div style="position: relative; top: 15px; left: 200px;" id="loadergroup"></div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
            
            <div style="padding:0; width:15%;">
                <div class="content-sub" style="height:520px" id="functionValues">
                        <h4>Function Adjustment</h4>
                        <div class="toggle-group">
                            <div class="onoffswitch" style="float:left">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="iffv">
                                <label class="onoffswitch-label" for="iffv">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                            <!-- <br>
                            <p><input type="button" id="enableFV" class="btn btn-outline-primary btn-block"  value="Enable Function Value Control"></p>   -->

                </div>
            </div>
            <div style="padding:0; border-left: 1px solid rgb(224,224,224);width:15%">
                    <div class="content-sub" style="height:660px; padding-top: 10px;padding-left: 10px;">
                        <div id="undo-group">
                            <input type="button" class="btn btn-outline-primary" id="undobutton" value="Undo">
                        </div>
                        <div id="redo-group" style="float:right">
                            <input type="button" class="btn btn-outline-primary" id="redobutton" value="Redo">
                        </div>
                        <div id="stepSVG-cover" class="scrollable" style="height:600px;">
                            <svg id="stepSVG"></svg>
                        </div>
                    </div>
            </div>
        </div>
        

    </div> 


     
</body>
</html>