<!DOCTYPE html>
<html>
  <head>
    <title>VIS-MSVF</title>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
</head>

<body>
    <div class="container-fluid" style="width: 95%; padding-top: 20px">

        <h1>Visualization For Morse-Smale Vector Fields Design</h1>
        <!-- <hr style="margin-bottom: 0"> -->
        <!-- <br> -->
        <table>
            <tr>
                <td id="container" width="1050px" height = "1050px" style="border: 2px solid grey; background-color: white" rowspan="2">
                                            
                        <canvas id="animation" style="position: absolute; top:100px; left:110px; z-index:1" width="1000" height="1000" ></canvas>
                        <svg id="annotation" style="position: absolute; top:100px; left:110px; z-index:1" width="1000" height="1000"></svg>
                    
                </td>
                <td id="button-group" style="vertical-align: top; padding: 20px; border: 2px solid grey">
                        <h4>Control Panel</h4>
                        <br>
                        <p>                    
                            <input type="button" id="amoveplus" class = "btn btn-danger" value="A+ Move">
                            <input type="button" id="amoveminus" class = "btn btn-danger" value="A- Move">
                        </p>
                        <p>
                            <input type="button" id="bmoveplus" class = "btn btn-warning" value="B+ Move">
                            <input type="button" id="bmoveminus" class = "btn btn-warning" value="B- Move">
                        </p>
                        <p>
                            <input type="button" id="cmoveplus" class = "btn btn-success" value="C+ Move">
                            <input type="button" id="cmoveminus" class = "btn btn-success" value="C- Move">
                        </p>
                        <p>
                            <input type="button" id="dmoveplus" class = "btn btn-info" value="D+ Move">
                            <input type="button" id="dmoveminus" class = "btn btn-info" value="D- Move">
                        </p>
                        <p>
                            <input type="button" id="dmoveevenplus" class = "btn btn-info" value="D+ even Move">
                            <input type="button" id="dmoveevenminus" class = "btn btn-info" value="D- even Move">
                        </p>
                        <p>
                            <input type="button" id="dmoveoddplus" class = "btn btn-info disabled" value="D+ odd Move">
                            <input type="button" id="dmoveoddminus" class = "btn btn-info disabled" value="D- odd Move">
                        </p>     
                        <p><input type="button" id="reset" class="btn btn-primary btn-block"  value="Reset"></p>  
                        <p><input type="button" id="ifflow" class="btn btn-primary btn-block"  value="Disable Flow"></p>                 
                        
                </td>
                <td rowspan="2" id="functionValues" style="padding: 20px; border: 1px solid black">
                        <p><input type="button" id="enableFV" class="btn btn-outline-primary btn-block"  value="Enable Function Value Control"></p> 
    
    
                    </td>
            </tr>
            <tr>
                <td id="filegroup" style="padding: 20px; border: 1px solid black">
                    <p>
                        <form method="post" id="upload" enctype="multipart/form-data" action="" >
                            <input type="file" style="display:none" id="files" name="files">
                            <input type="button" class="btn btn-outline-primary" id="import" value="Import A Configuration">
                        </form>
                    </p>
                    <br>
                    <p>
                        <div>
                            <label for="exFilename">File Name</label>
                            <input class="form-control" type="text" placeholder="Input file name" id="exFilename">
                            <small id="exHelp" class="form-text text-muted">The default name is "export"</small>
                        </div>
                            <input style="position: relative; top:5px" type="button" class="btn btn-outline-primary" id="export" value="Export Current Configuration">
                    </p> 
                </td>
            </tr>
            <tr>
                <td id="phgroup" style="padding: 20px; border: 1px solid black;" colspan="3">
                    <div class="scrollable" style="height: 350px;">
                        <input type="button" class="btn btn-outline-primary" id="computeBarcode" value="Compute Barcode">
                        <div id="persistencegroup">
                            <div style="position: relative; top: 50px; left: 700px;" id="loadergroup"></div>
                        </div> 
                        <!-- <div class="loader"></div> -->
                        
                    </div>
                </td>

            </tr>
        </table>
        

    </div>
</body>
</html>